$dark-200: #202a33;
$dark-300: #2c353d;
$dark-400: #252c33;
$dark-500: #384254;
$dark-600: #173B37;
$dark-700: #183347;
$dark-800: #184726;
$dark-900: #32454A;

$navy-100: #1C4952;
$navy-800: #14222d;

$teal-500: #00b4ff;
$teal-600: #0093d0;

$grey-100: #fbfcfc;
$grey-400: #a7c0d4;
$grey-500: #a9c2d6;
$grey-600: #879bab;
$grey-700: #596c7c;
$grey-800: #576a7a;

$red-100: #f6b7b8;
$red-200: #f19394;
$red-300: #ec6f71;
$red-400: #e84c4e;
$red-500: #e32b2e;
$red-600: #c71a1d;
$red-700: #bb2e30;
$red-800: #a21517;
$red-900: #7e1012;

$navigation-height: 75px;